[submodule "frontend"]
	path = frontend
	url = https://github.com/NiceColors/Projeto-de-Software-front.git
[submodule "backend"]
	path = backend
	url = https://github.com/NiceColors/Projeto-de-Software-API
